<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense</title>
</head>
<body bgcolor="Black" style="color: blue;">
<center>
    <!-- 🔹 FLASH MESSAGE -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <p class="{{ category }}">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST">
        <table>
            <h2>Add Expense</h2>
            <tr>
                <td>Date</td> <td> <input type="date" name="exp_date" required> </td>
            </tr>
            <tr>
                <td>Amount</td> <td><input type="number" name="exp_amt" placeholder="Enter the Amount Spent" required> </td>
            </tr>
            <tr>
                <td>Category</td>  <td> <input type="text" name="exp_cat" placeholder="Additional Details if any"> </td>
            </tr>
            <tr>
                <td> </td><td> <input type="submit">  <input type="reset"></td>
            </tr>
        </table>
    </form>
</center>

</body>
</html>