<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpTracPRO</title>
</head>
<body bgcolor="black" style="color: firebrick;">
<center>
    <h1 style="color: blue;"> Welcome to The live Finance Tracking Updates</h1>

    <form action="/track" method="post">
        <table>
            <tr>
                <button> <a href="/add_income"> Add Income</a></button>
            </tr>
            <tr>
                <button> <a href="/add_expense"> Add Expense</a></button>
            </tr>
            <tr>
                <button> <a href="/view_smry">View Summary</a> </button>
            </tr>
        </table>
    </form>

</center>
</body>
</html>